@keyframes animateSvg {
    to {
        transform: translateY(-10px);
    }
}

@keyframes animateimg {
    to {
        transform: translateY(-20px);
    }
}

@keyframes upanddown {
    to {
        transform: translateY(-5px);
    }
}

@keyframes upupdowndown {
    to {
        transform: translateY(-10px);
    }
}