@media screen and (max-width: 1367px) {
    nav {
        padding: 0 $p_md;
    }

    #home {
        height: 90vh;

        >section {
            &:first-of-type {
                padding-left: $p_md;

                >div aside {
                    width: 85%;
                }
            }

            &:last-of-type {
                border-top: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                overflow-x: hidden;

                &::after {
                    content: "";
                    width: 35vmax;
                    height: 35vmax;
                    background-color: $color7;
                    border-radius: 50%;
                    position: absolute;
                    z-index: -1;
                }

                >img {
                    width: 20vmax;
                    height: 30vmax;
                    object-fit: contain;
                    margin-bottom: 3rem;
                }
            }
        }
    }




    #services {
        padding: $p_md;

        >section {
            height: 90%;
        }
    }


    #contact>section>form {

        >input,
        >button {
            font: 400 0.8rem $text1;
            width: 50%;
        }
    }

    footer {
        padding-left: $p_md;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        padding: 0 $p_base;
    }

    #home {
        height: 110vh;

        >section {
            &:first-of-type {
                padding-left: $p_base;

                >div {
                    >h1 {
                        font: 900 3rem $text1;
                    }

                    aside {
                        width: 100%;
                    }
                }
            }
        }
    }



    #skills {
        padding: $p_base_inverse;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    nav {
        padding: 0 $p_sm;

        >h2 {
            font-size: 1.8rem;
        }

        >div {
            gap: 1rem;
        }
    }

    #home {
        >section {
            &:first-of-type {
                padding-left: $p_sm;

                >div {
                    >div {
                        gap: 2rem;
                        width: 100%;
                    }

                    aside {
                        flex-direction: column;
                    }
                }
            }
        }
    }



    #services {
        padding: $p_sm_inverse;
        height: 90vh;
    }


    #contact>section>form {
        >h2 {
            font: 100 2.3rem $text2;
        }

        >input,
        >button {
            width: 65%;
        }
    }

    footer {
        padding-left: $p_zero;
        grid-template-columns: 1fr;

        >div {
            width: 100%;
            border: none;

            p {
                width: 50%;
                margin: 2rem auto;
            }
        }

        >a {
            margin: 1rem;
        }
    }
}

@media screen and (max-width: 786px) {
    nav {

        >div,
        >a {
            display: none;
        }
    }

    .navBtn {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #home {
        height: unset;
        flex-direction: column-reverse;

        >section {
            &:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                >div {
                    border: none;
                    padding-top: 3rem;

                    >h1 {
                        font: 900 2.5rem $text1;
                    }

                    >div {
                        flex-direction: column;
                    }

                    aside {
                        align-items: center;
                    }

                    article[data-special] {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        span {
                            display: block;
                            width: 70%;
                            word-wrap: break-word;
                        }
                    }

                    article {
                        width: 100%;
                        text-align: center;

                        &::after {
                            top: 0;
                            left: 0%;
                        }
                    }
                }
            }

            &:last-of-type {
                border: none;
            }
        }

        >svg {
            font-size: 2rem;
            bottom: 12%;
        }
    }

    #projects {
        margin: 0rem 1rem;
        height: 185vh;


        >h1 {
            font: 600 2rem $text1;
        }

        .cards-container {
            // overflow-x: auto;


            .cards {
                display: flex;
                justify-content: center;
                margin: 2rem 0rem;
                width: 100%;
                flex-wrap: wrap;


                .Tilt {

                    transition: transform 0.1s;

                    &:hover {
                        transform: rotate(5deg);

                    }


                    >div {
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        padding: 3px;
                        margin-top: 1rem;
                        width: 290px;
                        height: 320px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            box-shadow: 0px 0px 10px 5px rgb(127, 25, 127);
                        }


                        >img {
                            width: 100%;
                            height: 45%;
                            border-radius: 8px;
                            object-fit: cover;
                        }

                        >h3 {
                            font: 600 1.2rem $text1;
                            letter-spacing: 2px;
                            margin: 0.2rem;
                        }

                        >p {
                            font: 100 1rem $text1;
                            letter-spacing: 1px;
                        }

                        >div {
                            display: flex;
                            margin: 0.7rem 0;
                            gap: 0.9rem;
                            align-items: center;
                            font-size: 0.8rem;
                            justify-content: space-evenly;


                            >a {
                                background-color: $color7;
                                color: $color1;
                                padding: 0.5rem 1rem;
                                transition: all 0.3s;


                                &:hover {
                                    background-color: $color4;
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    #timeline {
        .timelineBox::after {
            left: 31px;
        }

        .timelineItem {
            width: 100%;
            padding-left: 5rem;
            padding-right: 2rem;
        }

        .rightTimeline {
            left: 0%;
        }

        .leftTimeline,
        .rightTimeline {
            &::after {
                left: 15px;
            }
        }
    }

    .skillh1 {
        margin: 2rem 3rem;
        font: 900 3rem $text1;

    }

    #skills {
        height: 50vh;


        .skill-section {
            margin: 0rem 0.1rem;
            height: 50%;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .serviceBox1 {
                grid-column: 1/3;
                grid-row: unset;
            }

            .serviceBox4 {
                grid-column: 1/3;
            }
        }
    }


    #contact {
        grid-template-columns: 1fr;
        min-height: 40vh;
        margin-top: 6rem;

        >section {
            height: 100%;

            >form {
                height: 100%;

                >h2 {
                    font: 900 2rem $text1;
                    margin: 2rem
                }
            }

        }

        >aside {
            display: none;
        }

    }


    footer {
        margin: 0;
        min-height: 120vh;

        >div {
            >h2 {
                margin: 0.5rem;
            }

           
        }

        >aside>article {
           margin-top: 0px;
          

            svg {
                font-size: 1.5rem;
                color: white;
                margin: 0.7rem;

                &:hover {
                    color: $color7;
                }
            }
        }
    }
}