//Text variable
$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

// Colors variable
$color1: #ffe7e7;
$color2: #6cb0a8;
$color3: #e0c2c2;
$color4: #562265;
$color5: #ffffff;
$color6: #000000;
$color7: #8735aa;
$color8: #d195bf;
$color9: #bbb3bb;
$color10: #3d6c8c;

//padding
$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;